.env
.vscode/

build/
cmake-build-*/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

*.o
*.a
*.so
*.dylib
*.dll
*.exe
backend_app
backend_tests

Testing/
CTestTestfile.cmake

compile_commands.json
.clangd/
.cache/

*.gcda
*.gcno
*.gcov
coverage/